.jdl{
	background-color : #76aed3;
	color: black;
	line-height : 1.5cm;
	text-align : center;
}
.int{
	border-radius : 11px;
	line-height: 1cm;
}
.btn{
	background-color: #76aed3;
	border : none;
	border-radius : 11px;
	line-height: 1cm;
	color: black;
}
.eh{
	word-spacing: 1cm;

}

.aa{
	border-radius : 11px;
	line-height: 3cm;
}

.judul{
	background-color : #76aed3;
	color: black;
	line-height : 2cm;
	text-align : center;
}
	